<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sandy.android.assistant">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.San">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoteEditorActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <data android:mimeType="vnd.android.cursor.dir/event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationEditorActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationController"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".NotificationViewActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".NotebookActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".NotebookAttachNoteActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <receiver android:name="sandy.android.assistant.NotificationPublisher"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.TIME_TICK"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:name="sandy.android.assistant.BroadcastReceiverScreenOffService" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.INSERT" />
        </intent>
    </queries>


</manifest>